  body {
  	front-family:'Titillium Web', sans-serif;

  }
  .navbar{
  	background-color: #ffffff;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
  	min-height: 100px;
  }
  .nav-link { color: #ffffffff;
  .nav-link:hover { color #ffffff; }
  